<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/courses' ? 'active' : '' %>" href="/courses">Courses</a>
                </li>
                <% if ( isAdmin ) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">Admin</a>
                    </li>
                <% } %>
             <% } %>
        </ul>
        <% if (! alwaysConnected) { %>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
            <% } else { %>
                <% if (user) { %>
                <li class="main-header__item user-message">
                    Welcome <%= user.name %>
                </li>
                <% } %>
                <li class="main-header__item">
                    <a href="/logoff">Logout</a>
                    <!-- <form action="/logoff" method="post">
                        <button type="submit">Logout</button>
                    </form> -->
                </li>
            <% } %>
        </ul>
        <% } %>
    </nav>
</header>
