<%- include('../header.ejs') %>

    <%- include('../navigation.ejs') %>

    <main>

        <%- include('../error.ejs') %>

        <%- include('content.ejs') %>
    </main>

<%- include('../footer.ejs') %>


